/* base settings */
@import "layout/base.scss";
@import "layout/fonts.scss";

/* colors */
$green: #75a159;
$black: #222021;
$grey: #f8f8f8;

/* breakpoints */
$tablets: 768px;
$phones: 480px;

/* normalize */
@import "layout/normalize.css";

/* media */
@import "layout/media.scss";

/* blocks */
@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/nav.scss";