@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'), url('../fonts/Sourceserifprosemibold.woff2') format('woff2'), url('../fonts/Sourceserifprosemibold.woff') format('woff'), url('../fonts/Sourceserifprosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro Italic'), local('SourceSerifPro-It'), url('../../fonts/Sourceserifproitalic.woff2') format('woff2'), url('../fonts/Sourceserifproitalic.woff') format('woff'), url('../fonts/Sourceserifproitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro ExtraLight Italic'), local('SourceSerifPro-ExtraLightIt'), url('../fonts/Sourceserifproextralightitalic.woff2') format('woff2'), url('../fonts/Sourceserifproextralightitalic.woff') format('woff'), url('../fonts/Sourceserifproextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro ExtraLight'), local('SourceSerifPro-ExtraLight'), url('../fonts/Sourceserifproextralight.woff2') format('woff2'), url('../fonts/Sourceserifproextralight.woff') format('woff'), url('../fonts/Sourceserifproextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro Light'), local('SourceSerifPro-Light'), url('../fonts/Sourceserifprolight.woff2') format('woff2'), url('../fonts/Sourceserifprolight.woff') format('woff'), url('../fonts/Sourceserifprolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url('../fonts/Sourceserifpro.woff2') format('woff2'), url('../fonts/Sourceserifpro.woff') format('woff'), url('../fonts/Sourceserifpro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro Black'), local('SourceSerifPro-Black'), url('../fonts/Sourceserifproblack.woff2') format('woff2'), url('../fonts/Sourceserifproblack.woff') format('woff'), url('../fonts/Sourceserifproblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro Semibold Italic'), local('SourceSerifPro-SemiboldIt'), url('../fonts/Sourceserifprosemibolditalic.woff2') format('woff2'), url('../fonts/Sourceserifprosemibolditalic.woff') format('woff'), url('../fonts/Sourceserifprosemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro Bold Italic'), local('SourceSerifPro-BoldIt'), url('../fonts/Sourceserifprobolditalic.woff2') format('woff2'), url('../fonts/Sourceserifprobolditalic.woff') format('woff'), url('../fonts/Sourceserifprobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'), url('../fonts/Sourceserifprobold.woff2') format('woff2'), url('../fonts/Sourceserifprobold.woff') format('woff'), url('../fonts/Sourceserifprobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro Black Italic'), local('SourceSerifPro-BlackIt'), url('../fonts/Sourceserifproblackitalic.woff2') format('woff2'), url('../fonts/Sourceserifproblackitalic.woff') format('woff'), url('../fonts/Sourceserifproblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: local('Source Serif Pro Light Italic'), local('SourceSerifPro-LightIt'), url('../fonts/Sourceserifprolightitalic.woff2') format('woff2'), url('../fonts/Sourceserifprolightitalic.woff') format('woff'), url('../fonts/Sourceserifprolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display SC', serif;
    src: url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700');
}
