.nav {
    position: relative;
}

.nav__list {
    display: flex;
    z-index: 10;
}

.nav__item {
    margin-right: 88px;

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    opacity: 0.6;
    font-size: 18px;
    color: $black;
    text-decoration: none;
    transition-duration: .2s;

    &:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    &:focus {
        text-decoration: underline;
    }

    &:active {
        text-decoration: underline;
    }
}